header {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

body {
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Lexend', sans-serif;

}

.newbie {
    text-align: center;
}

.myText {
    color: white;
}

#forgotPass {
    text-align: right;
    font-weight: 100;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: lighter;
}

input {
    width: 100%;
    padding:12px;
    height: 20px;
    border-radius: 12px;
}

.btn {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 75%;

}

.btn-txt {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #FFC857;
}

.body-copy {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.signature-txt {
    color: #FFC857;
}

form {
    margin: auto;
    padding: 25px;
}

.container_input {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}

.icon {
    width: 50px;
    padding: 12px;
    border-radius: 12px;
    background-color: white;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
}

.homepage {
    display: flex;
    justify-content: space-between;
}
.name {
    color: #FFC857;
}
.together {
    display: flex;
    gap: 10px;
}