header {
    background-color: black;
    padding: 20px;
}

body {
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Lexend', sans-serif;

}

.newbie {
    text-align: center;
}

.myText {
    color: white;
}

#forgotPass {
    text-align: right;
    font-weight: 100;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-weight:normal;
}

h2 {
    font-weight:lighter;
}

input {
    width: 75%;
}

.btn {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 75%;

}

.btn-txt {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #FFC857;
}

.body-copy {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.signature-txt {
    color: #FFC857;
}

form {
    margin: auto;
    padding: 25px;
}

input {
    padding: 20px;
    height: 20px;
    border-radius: 12px;
}


